body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #76885B;
  padding: 20px;
  height: 50px;
}

nav ul {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: flex-start;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #FFFFFF; /* Bianco per contrasto */
  font-size: 18px;
  font-weight: bold;
}

nav ul li a:hover {
  color: #DDDDDD /* Giallo dorato per effetto hover */
}