.App {
  text-align: center;
  
}

body {
  margin: 0;
  /*background-color: rgb(255, 255, 255);
  background: url(desktop-wallpaper-high-resolution-green-background-simple-green.jpg);*/
  background: url('./Foto_sfondi/1600w-DOfVkpm1UIU.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper-column{
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.wrapper2{
  max-width: 1400px;
  width: 100%;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
